# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ConnectFour.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\source\repos\ConnectFour\.idea\.idea.ConnectFour\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
